= form_for @post do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field{:class => is_required?(:title)}
    = f.label :title
    = f.text_field :title
  .field{:class => is_required?(:author)}
    = f.label :author
    = f.text_field :author
  .field{:class => is_required?(:body)}
    = f.label :body
    = f.text_area :body
  .actions
    = f.submit 'Save', :class => "verifiable"
