<!DOCTYPE html>
<html>
<head>
  <title>Chat Caff</title>
  <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print.css', :media => 'print' %>
  <!--[if IE]>
    <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %>
  <![endif]-->
  <%= render "layouts/javascripts" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Web App</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><a href="#"><%= t("web-app-theme.profile", :default => "I am not a real website") %></a></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div title="<%= key.to_s.humanize -%>" class="<%= key -%>">
            <p><%= value -%></p>
          </div>
        <% end %>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> Web App.</p>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>
</body>
</html>
